body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(135deg, #009688, #6BBF59); /* Gradient background */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Language Toggle Links */
  .lang-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
  }
  .lang-toggle a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
  }
  .lang-toggle a:hover {
    text-decoration: underline;
  }
  .lang-toggle a:focus {
    outline: none;
  }
  
  
.container {
    display: flex;
    background: white;
    width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.left-panel {
    background: rgba(0, 150, 136, 0.9);
    color: white;
    padding: 40px;
    width: 40%;
    text-align: center;
}

.left-panel .logo {
    width: 50px;
    margin-bottom: 10px;
}

.left-panel button {
    background: white;
    color: #009688;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.right-panel {
    padding: 40px;
    width: 60%;
}

.login-form h2 {
    color: #009688;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-top: 10px;
    color: #555;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.show-password {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.show-password label {
    margin-left: 5px;
}

.sign-in-btn {
    background: #009688;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.links {
    text-align: center;
    margin-top: 15px;
}

.links a {
    display: block;
    text-decoration: none;
    color: #009688;
    margin-top: 5px;
}